-------------------------------------------------------------
-- LÍ THUYẾT 

-- CÚ PHÁP MỞ RỘNG 
-- TA muốn sắp xếp dữ liệu theo tiêu chí nào đó, thường là tăng dần - ASCENDING/ASC
--														   giảm dần - DESCENDING/DESC
-- mặc đinh không nói gì là sắp xếp tăng dần
-- Ta có thể sắp xếp trên nhiều cột, logic này từ từ tính
-- SELECT * FROM <TÊN-TABLE> ORDER BY TÊN-CỘT-MUỐN-SORT <KIỂU-SORT>

--------------------------------------------------------------
-- 1. In ra thông tin nhân viên
SELECT * FROM Employees

-- 2. In ra ds nv tăng dần theo năm sinh
SELECT * FROM Employees ORDER BY BirthDate ASC
SELECT * FROM Employees ORDER BY BirthDate --mặc định là tăng dần

-- 3. In ra ds nv giảm dần theo năm sinh
SELECT * FROM Employees ORDER BY BirthDate DESC

-- 4. Tính tiền chi tiết mua hàng
SELECT * FROM [Order Details] 
SELECT *, UnitPrice * Quantity * (1- Discount) AS [SubTotal] FROM [Order Details]

-- 5. Tính tiền chi tiết mua hàng, sắp xếp giảm dần theo số tiền 
SELECT *, UnitPrice * Quantity * (1- Discount) AS [SubTotal] FROM [Order Details]
					ORDER BY SubTotal DESC

-- 6. In ra danh sách nhân viên giảm dần theo tuổi
SELECT * FROM Employees
SELECT EmployeeID, FirstName, YEAR(BirthDate), YEAR(GETDATE()) - YEAR(BirthDate) AS Age FROM Employees
					ORDER BY Age DESC
					 




